In [67]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [68]:
# Cargamos el dataset
df= pd.read_csv("dataset_limpio4E.csv")
# Descripción genereal del conjunto de datos
df.describe()

,EDAD,SEXO_ESTUDIANTE,ESTADO_CIVIL_NOMBRE,ESTADO,ACDB1,APEB1,AAB1,BIM1
count,19398.000000,19398.000000,19398.000000,19398.000000,17719.000000,17700.000000,17703.000000,17751.000000
mean,21.470048,0.508351,0.017064,0.177544,3.103335,3.290282,2.684178,8.751789
std,2.722154,0.499943,0.171025,0.382138,0.784335,0.789091,0.622300,1.573914
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,0.000000,3.000000,3.000000,3.000000,8.000000
50%,21.000000,1.000000,0.000000,0.000000,3.000000,3.000000,3.000000,9.000000
75%,23.000000,1.000000,0.000000,0.000000,4.000000,4.000000,3.000000,10.000000
max,61.000000,1.000000,3.000000,1.000000,4.000000,4.000000,4.000000,10.000000

In [89]:
df.dropna(inplace=True)

In [70]:
df.head()

,EDAD,SEXO_ESTUDIANTE,ESTADO_CIVIL_NOMBRE,ESTADO,ACDB1,APEB1,AAB1,BIM1
1,23,1,0.0,0,4.0,4.0,3.0,10.0
2,25,1,0.0,1,3.0,2.0,2.0,7.0
3,24,1,0.0,0,4.0,4.0,3.0,10.0
4,21,0,0.0,0,4.0,3.0,3.0,10.0
5,23,0,0.0,0,3.0,3.0,2.0,7.0

In [72]:
data = df[['EDAD','SEXO_ESTUDIANTE','ACDB1','APEB1','AAB1','BIM1','ESTADO']]
data.head()

   EDAD  SEXO_ESTUDIANTE  ACDB1  APEB1  AAB1  BIM1  ESTADO
1    23                1    4.0    4.0   3.0  10.0       0
2    25                1    3.0    2.0   2.0   7.0       1
3    24                1    4.0    4.0   3.0  10.0       0
4    21                0    4.0    3.0   3.0  10.0       0
5    23                0    3.0    3.0   2.0   7.0       0

In [73]:
# Información del dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17669 entries, 1 to 19397
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EDAD             17669 non-null  int64
 1   SEXO_ESTUDIANTE  17669 non-null  int64
 2   ACDB1            17669 non-null  float64
 3   APEB1            17669 non-null  float64
 4   AAB1             17669 non-null  float64
 5   BIM1             17669 non-null  float64
 6   ESTADO           17669 non-null  int64
dtypes: float64(4), int64(3)
memory usage: 1.1 MB

In [75]:
# X son nuestras variables independientes
X = data.drop(["ESTADO"],axis = 1)

# y es nuestra variable dependiente
y = data.ESTADO

# División 75% de datos para entrenamiento, 25% de daatos para test
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=0)

In [85]:
# Creaamos el modelo de Bosques Aleatorios (y configuramos el número de estimadores (árboles de decisión))
BA_model = RandomForestRegressor(n_estimators = 80,random_state = 2016, min_samples_leaf = 8,)

In [86]:
BA_model.fit(X_train, y_train)

RandomForestRegressor(min_samples_leaf=8, n_estimators=80, random_state=2016)

In [88]:
BA_model.score(X_test, y_test)

0.17590494912392163

In [63]:
from sklearn.metrics import mean_squared_error, r2_score

# Supongamos que ya tienes tu modelo de regresión entrenado y tus datos de prueba X_test y y_test
y_pred = model.predict(X_test)

# Calcular el error cuadrático medio (MSE)
mse = mean_squared_error(y_test, y_pred)
print('Error cuadrático medio:', mse)

# Calcular el coeficiente de determinación (R^2)
r2 = r2_score(y_test, y_pred)
print('Coeficiente de determinación (R^2):', r2)

Error cuadrático medio: 0.12681410476771496
Coeficiente de determinación (R^2): 0.14894987209125354

In [64]:
import pickle

In [65]:
with open('modelo_random_forest.pkl', 'wb') as file:
    pickle.dump(model, file)